.form-card {
    &__label {
        margin-bottom: 20px;
        font-size: 1.8rem;
        line-height: 1.44;
    }

    &__bottom {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
