.auth {
    display: flex;
    align-items: center;
    min-height: 100vh;

    &__intro,
    &__content {
        flex: 1;
    }

    &__intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;

        &-text {
            max-width: 412px;

            text-align: center;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.44;
        }
    }
}
