@use "../abstracts/mixins" as mix;

.dropdown {
    position: absolute;
    left: 0;

    width: min(1240px, 100%);
    padding-top: 54px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-24px) scaleY(0);
    height: 0;
    // display: none;
    transition: visibility, transform, height;
    transition-duration: 0.5s;

    @include mix.screen(lg) {
        position: initial;
        // visibility: visible;

        // height: 100%;
        padding-top: 0;
        // opacity: 1;
        // transform: translateY(0) scaleY(1);
    }

    &__inner {
        --inner-padding: 30px;

        position: relative;

        padding: var(--inner-padding);

        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: var(--dropdown-shadow-color);

        &::before {
            content: url("../icons/dropdown-arrow.svg");
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            transform: translateX(-50%);
            filter: var(--dropdown-shadow-color);
        }

        @include mix.screen(lg) {
            padding: 0 40px;

            border-radius: 0;
            background: transparent;
            box-shadow: none;

            &::before {
                content: none;
            }
        }

        @include mix.screen(sm) {
            padding: 0 20px;
        }
    }
}

.top-menu {
    --main-column-width: 292px;
    --max-inner-height: calc(min(584px, 100vh - 158px) - var(--inner-padding) * 2);

    position: relative;

    &__main {
        width: var(--main-column-width);
        height: var(--max-inner-height);
        border-right: 1px solid var(--top-menu-border-color);
        overflow-y: auto;

        @include mix.screen(lg) {
            width: 100%;
            height: auto;
            border-right: none;
        }
    }
}

.menu-column {
    display: flex;
    column-gap: 14px;

    + .menu-column {
        margin-top: 22px;
    }

    @include mix.screen(lg) {
        margin-top: 10px;
    }

    &__icon {
        position: relative;
        flex-shrink: 0;
        width: 36px;
        height: 36px;

        @include mix.screen(xl) {
            display: none;
        }

        @include mix.screen(lg) {
            display: block;
        }
    }

    &__content {
        flex: 1;
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    &__icon-2 {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 24px;
        height: 24px;
        object-fit: cover;
        filter: var(--menu-column-icon-color);
    }

    &__heading {
        margin-top: 5px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;

        @include mix.screen(lg) {
            margin-bottom: 26px;
        }
    }

    &__list {
        margin-top: 18px;

        @include mix.screen(lg) {
            margin-top: 0;
        }
    }

    &__item {
        &--active .sub-menu {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
            display: grid;
        }
    }

    &__item--active > &__link,
    &__item:hover > &__link {
        color: #0071dc;
        font-weight: 500;
        transform: translateX(0);
    }

    &__link {
        display: block;
        padding: 7px 0;
        font-size: 1.4rem;
        line-height: 1.43;
        transition: color 0.25s ease;
    }
}

.sub-menu {
    position: absolute;
    inset: 0 0 0 var(--main-column-width);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--inner-padding);
    padding-left: var(--inner-padding);
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    transform: translateX(-50px);
    transition: 0.3s ease;

    @include mix.screen(lg) {
        position: initial;
        grid-template-columns: 1fr;
        padding-left: 0;
        display: none;
    }

    &--not-main {
        position: initial;
        inset: initial;
        grid-template-columns: repeat(4, 1fr);
        height: var(--max-inner-height);
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
        padding-left: 0;
        display: grid;

        @include mix.screen(lg) {
            grid-template-columns: 1fr;
            height: auto;
        }
    }
}
