<div class="container">
    <div class="footer__inner">
        <div class="footer__row">
            <!-- Footer Column 1 -->
            <div class="footer__col">
                <h3 class="footer__heading">Shop</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">All Departments</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Fashion Deals</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Electronics Discounts</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Home & Living Specials</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Beauty Bargains</a>
                    </li>
                </ul>
            </div>

            <!-- Footer Column 2 -->
            <div class="footer__col">
                <h3 class="footer__heading">Support</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Store locator</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Order status</a>
                    </li>
                </ul>
            </div>

            <!-- Footer Column 3 -->
            <div class="footer__col">
                <h3 class="footer__heading">Company</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Customer service</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Term of Use</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Privacy</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Careers</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">About</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Affiliates</a>
                    </li>
                </ul>
            </div>

            <!-- Footer Column 4 -->
            <div class="footer__col">
                <h3 class="footer__heading">Contact</h3>
                <ul class="footer__list">
                    <li>
                        <p class="footer__label">Email</p>
                        <a href="#!" class="footer__link">Contact Us</a>
                    </li>
                    <li>
                        <p class="footer__label">Telephone</p>
                        <a href="#!" class="footer__link">0979295125</a>
                    </li>
                    <li>
                        <p class="footer__label">Address</p>
                        <p class="footer__text">2715 Ashwood Avenue, San Jose, CA 95131, United States</p>
                    </li>
                    <li>
                        <p class="footer__label">Hours</p>
                        <p class="footer__text">08:00am - 06:00pm</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
